@import 'ellipsis';

$padding: 12px;
$border-width: 1px;
$border-radius: 8px;
$font-size: 16px;
$icon-offset: 30px;

$bg-color: #e4e4e4;
$second-color: #646464;

@define-mixin side-content $side {
    position: absolute;
    $(side): 8px;

    align-self: center;

    color: $second-color;
}

@define-mixin decorative {
    user-select: none;
    pointer-events: none;
}

.wrapper {
    position: relative;
    
    display: flex;
}

.icon {
    @mixin side-content left;

    @mixin decorative;
}

.clear {
    cursor: pointer;

    @mixin side-content right;
}

.passwordToggler {
    cursor: pointer;

    @mixin side-content right;
}

.label {
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 0 calc($padding + $border-width);
    box-sizing: border-box;
    border-radius: $border-radius;

    display: flex;
    align-items: center;

    font-size: $font-size;
    color: $second-color;
    
    background-color: $bg-color;
    cursor: text;
    transition: height 0.2s, font-size 0.2s;

    @mixin decorative;

    & > span {
        @mixin ellipsis;
    }
}

.input {
    width: 100%;
    padding:
        22px
        $padding
        calc($padding / 2)
        $padding;
    border: $border-width solid transparent;
    border-radius: $border-radius;
    outline: none;

    font-size: $font-size;

    background-color: $bg-color;

    &.hasIcon {
        padding-left: $icon-offset;

        & ~ .label {
            padding-left: calc($icon-offset + $border-width);
        }
    }

    &.clearable {
        padding-right: $icon-offset;
    }

    &:focus {
        border-color: $second-color;
        background-color: unset;
    }

    &.filled,
    &:focus {
        & ~ .label {
            height: 20px;
            padding-top: 4px;

            font-size: 12px;

            background-color: unset;
        }
    }
}
