@import 'mixins/flex';
@import 'mixins/ellipsis';

/* variables */

$size: 48px;

/* base styles */

.button {
    height: $size;
    min-width: $size;
    padding: 0px 16px;
    border: 0;
    border-radius: calc($size / 2);

    @mixin row;
    @mixin center;
    gap: 8px;

    user-select: none;
    cursor: pointer;
    
    &:hover {
        filter: brightness(0.9);
    }

    &:active {
        filter: brightness(0.8);
    }

    & > span {
        @mixin ellipsis;
    }
}

/* use cases */

.button {
    &.action {
        background-color: var(--button-action-bg);
        color: var(--button-action-color);
        box-shadow: 0 1px 6px -3px black;    
    }

    &.secondary {
        background-color: var(--button-secondary-bg);
        border: 2px solid var(--border-primary);
        color: var(--button-secondary-color);
        box-shadow: 0 1px 6px -3px black;
    }

    &.link {
        width: unset;
        height: unset;
        padding: unset;
        border-radius: unset;

        display: inline-flex;

        background-color: transparent;
        color: var(--text-secondary);
        text-decoration: underline;
    }
}
