@import 'flex';

body {
    background-color: #7466B5;
    background-image: url('/src/images/background.svg');
}

.content {
    margin: auto;

    position: absolute;
    inset: 0;

    display: flex;
    @mixin center;
}
